EXPO_PUBLIC_BACKEND_URL=http://10.0.2.2:3000
EXPO_PUBLIC_GOOGLE_CLIENT_ID_ANDROID=ID.apps.googleusercontent.com
EXPO_PUBLIC_GOOGLE_CLIENT_ID_IOS=YOUR_IOS_CLIENT_ID.apps.googleusercontent.com
EXPO_PUBLIC_GOOGLE_CLIENT_ID_WEB=ID.apps.googleusercontent.com
EXPO_PUBLIC_GEOAPIFY_API_KEY=YOUR_GEOAPIFY_API_KEY
# Apple Sign-In Enabled (true/false)
EXPO_PUBLIC_APPLE_AUTH_ENABLED=false
